$heading-color: #232526;
$content-color: #747a82;
$arrow-bg-color: #c0304f;
$hero-section-color: #f6f2eb;
$colored-section: #ffe6e0;

// generic class

.sectionHeading {
  border-left: solid 0.3rem #c0304f;
  max-width: 24rem !important;
}

.box {
  height: 500px;
}

.pageMargin {
  > div {
    margin: 1rem !important;
  }
}

hr{
  width: 0.3rem;
  height: 2rem;
}

.buttonWidth {
  width: fit-content;
}
// nav section start

.navbarSection {
  background-color: $hero-section-color;
}

.itemCount {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $arrow-bg-color;
  color: white;
  position: absolute;
  top: -50%;
  right: -70%;
}

.navbarContent {
  border-bottom: 2px solid transparent !important;
}

.navbarContent:hover {
  border-bottom: 2px solid;
  border-image: linear-gradient(
    to right,
    $arrow-bg-color,
    $arrow-bg-color 70%,
    white 70%,
    white 80%,
    $arrow-bg-color 80%,
    $arrow-bg-color
  );
  border-image-slice: 1;
}

.shrineLogo {
  top: 20px;
  left: 40vw;
}

.logo {
  background-color: $hero-section-color;
}

// hero section

.heroSection {
  background-color: $hero-section-color;
}

.heroSmallImage {
  border-radius: 50% 50% 0 0;
  // padding: 1rem 2rem;
}

.donateImage {
  margin-top: -2rem !important;
}

// call price section

.callPriceSection {
  > div {
    .churchWomanImages div:first-child {
      height: 30rem;
    }
    .churchWomanImages div:last-child {
      height: 28rem;
    }
    .callPriceImages {
      img {
        margin-left: -1.5rem;
      }
    }
    .callPriceJoinusSection {
      background-color: $colored-section;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
    .callPriceButton {
      border: none;
      color: white;
      background-color: black;
      padding: 0.5rem 1.5rem;
      border-radius: 0.5rem;
    }
    .bridgesOfFaith {
      border-left: 0.1rem solid grey;
      padding-left: 1rem;
      margin-left: 1rem;
    }
  }
}

// unleashPotential section start
.unleashPotentialChurch {
  max-height: 36rem;
}

// mission section

.mission {
  .missionCardCollection {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .missionCard {
    min-width: 16rem;
    &:hover {
      cursor: pointer;
      background-color: $colored-section;
      border-radius: 4rem 4rem 4rem 0;
      .readMore {
        display: inline !important;
      }
      // .cardImage {
      //   > img {
      //     filter: invert(9%) sepia(10%) saturate(336%) hue-rotate(155deg)
      //       brightness(98%) contrast(88%);
      //   }
      // }
    }
  }
  .cardImage {
    height: 3rem;
  }
}


// article Section

.articleImageContent{
  max-width: 15rem;
  background-color: #ffff;
  top: 2rem;
  left: 3rem;
}

// footer section start

.footer {
  background-image: url(images/footer/footer.png);
  background-size: cover;
  background-position: center;
  color: white;

  button {
    background-color: $arrow-bg-color !important;
  }
}

.footerContent {
  li > a {
    color: $content-color;
  }
}

@media (min-width: 992px) {
  // generic class

  .pageMargin {
    > div {
      margin: 1rem 10rem !important;
    }
  }

  // hero section

  // .jesusImage{
  //   height: 70rem;
  // }

  .faithMotion {
    // transform: translateX(-50%);
    // position: absolute;
    left: 50vw;
    bottom: 0;
  }

  .heroTitle {
    max-width: 15rem !important;
  }

  .heroRating {
    max-width: 10rem !important;
  }

  // call Price section

  .callPriceSection {
    > div {
      .churchWomanImages img:first-child {
        height: 30rem;
      }
      .churchWomanImages img:last-child {
        height: 28rem;
      }
      .callPriceJoinusSection {
        padding: 2rem;
      }
    }
  }
}
