* {
  box-sizing: border-box !important;
}

.sectionHeading {
  border-left: solid 0.3rem #c0304f;
  max-width: 24rem !important;
}

.box {
  height: 500px;
}

.pageMargin > div {
  margin: 1rem !important;
}

.navbarSection {
  background-color: #f6f2eb;
}

.itemCount {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #c0304f;
  color: white;
  position: absolute;
  top: -50%;
  right: -70%;
}

.navbarContent {
  border-bottom: 2px solid transparent !important;
}

.navbarContent:hover {
  border-bottom: 2px solid;
  -o-border-image: linear-gradient(to right, #c0304f, #c0304f 70%, white 70%, white 80%, #c0304f 80%, #c0304f);
     border-image: linear-gradient(to right, #c0304f, #c0304f 70%, white 70%, white 80%, #c0304f 80%, #c0304f);
  border-image-slice: 1;
}

.shrineLogo {
  top: 20px;
  left: 40vw;
}

.logo {
  background-color: #f6f2eb;
}

.heroSection {
  background-color: #f6f2eb;
}

.heroSmallImage {
  border-radius: 50% 50% 0 0;
  padding: 1rem 2rem;
}

.donateImage {
  margin-top: -2rem !important;
}

.callPriceSection > div .churchWomanImages div:first-child {
  height: 30rem;
}
.callPriceSection > div .churchWomanImages div:last-child {
  height: 28rem;
}
.callPriceSection > div .callPriceImages img {
  margin-left: -1.5rem;
}
.callPriceSection > div .callPriceJoinusSection {
  background-color: #ffe6e0;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.callPriceSection > div .callPriceButton {
  border: none;
  color: white;
  background-color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}
.callPriceSection > div .bridgesOfFaith {
  border-left: 0.1rem solid grey;
  padding-left: 1rem;
  margin-left: 1rem;
}

.unleashPotentialButton {
  width: -moz-fit-content;
  width: fit-content;
}

.unleashPotentialChurch {
  max-height: 36rem;
}

.mission .missionCardCollection::-webkit-scrollbar {
  display: none;
}
.mission .missionCard {
  min-width: 16rem;
}
.mission .missionCard:hover {
  cursor: pointer;
  background-color: #ffe6e0;
  border-radius: 4rem 4rem 4rem 0;
}
.mission .missionCard:hover .readMore {
  display: inline !important;
}
.mission .missionCard:hover .cardImage > img {
  filter: invert(9%) sepia(10%) saturate(336%) hue-rotate(155deg) brightness(98%) contrast(88%);
}
.mission .cardImage {
  height: 3rem;
}

.footer {
  background-image: url(images/footer/footer.png);
  background-size: cover;
  background-position: center;
  color: white;
}
.footer button {
  background-color: #c0304f !important;
}

.footerContent li > a {
  color: #747a82;
}

@media (min-width: 992px) {
  .pageMargin > div {
    margin: 1rem 10rem !important;
  }
  .faithMotion {
    left: 50vw;
    bottom: 0;
  }
  .heroTitle {
    max-width: 15rem !important;
  }
  .heroRating {
    max-width: 10rem !important;
  }
  .callPriceSection > div .churchWomanImages img:first-child {
    height: 30rem;
  }
  .callPriceSection > div .churchWomanImages img:last-child {
    height: 28rem;
  }
  .callPriceSection > div .callPriceJoinusSection {
    padding: 2rem;
  }
}/*# sourceMappingURL=style.css.map */