@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

$headingColor: #232526;
$contentColor: #747a82;
$arrowBgColor: #c0304f;
$coloredSection: #ffe6e0;
$cardColor: #ffe6e0;

@mixin font-design($name, $size, $weight, $family, $color) {
  .#{$name} {
    font: $weight $size $family;
    color: $color;
  }
}

* {
  font-family: 'Poppins';
}

input {
  outline: none;
}

button {
  width: fit-content;
  font-size: 0.9rem!important
}

// generic class

@include font-design(sectionHeading, 3rem, 600, Roboto, $headingColor);
@include font-design(boldTitle, 2.5rem, 600, Roboto, $headingColor);
@include font-design(cardHeading, 1.5rem, 600, Roboto, $headingColor);
@include font-design(content, 0.9rem, 400, Poppins, $contentColor);
@include font-design(boldContent, 1.1rem, 600, Poppins, $headingColor);

.sectionHeading {
  border-left: solid 0.3rem #c0304f;
  max-width: 40rem !important;
}

.cardHeading{
  max-width: 13rem;
}

.pageMargin {
  margin-top: 6rem !important;
}


// hero section

.sectionChanger {
  span {
    &:hover {
      color: $contentColor;
      cursor: pointer;
    }
  }
}

.featureContent{
    background-color: #FCFCFC;
}
.tags{
    span{
        &:hover{
            background-color: $arrowBgColor;
            cursor: pointer;
            color: #ffff;
        }
    }
}

.circleContainer{
    span{
        display: inline-block;
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        background-color: $contentColor;
    }
}
.arrow{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    &:hover{
        cursor: pointer;
        color: #ffff;
        background-color: $arrowBgColor;
    }
}

@media (min-width: 768px) {
    .pageMargin {
      margin-top: 6rem !important;
    }
}