$arrowBgColor: #c0304f;
$contentColor: #747a82;

// nav section start
.itemCount {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $arrowBgColor;
  color: white;
  position: absolute;
  top: -50%;
  right: -70%;
}

.navbarContent {
  border-bottom: 2px solid transparent !important;
}

.navbarContent:hover {
  border-bottom: 2px solid;
  border-image: linear-gradient(
    to right,
    $arrowBgColor,
    $arrowBgColor 70%,
    white 70%,
    white 80%,
    $arrowBgColor 80%,
    $arrowBgColor
  );
  border-image-slice: 1;
}

.shrineLogo {
  top: 20px;
  left: 40vw;
}

.footer {
  background-image: url(http://127.0.0.1:3000/assets/footer/footer.png);
  background-size: cover;
  background-position: center;
  color: white;

  button {
    background-color: $arrowBgColor !important;
  }
}

.footerContent {
  li > a {
    color: $contentColor;
  }
}
