@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

$headingColor: #232526;
$contentColor: #747a82;
$arrowBgColor: #c0304f;
$coloredSection: #ffe6e0;

@mixin font-design($name, $size, $weight, $family, $color) {
  .#{$name} {
    font: $weight $size $family;
    color: $color;
  }
}

* {
  font-family: 'Poppins';
}

input {
  outline: none;
}

button {
  width: fit-content;
}

// generic class

@include font-design(sectionHeading, 2rem, 600, Roboto, $headingColor);
@include font-design(boldTitle, 1.8rem, 600, Roboto, $headingColor);
@include font-design(cardHeading, 1.5rem, 600, Roboto, $headingColor);
@include font-design(content, 0.9rem, 400, Poppins, $contentColor);
@include font-design(boldContent, 1.1rem, 600, Poppins, $headingColor);

.sectionHeading {
  border-left: solid 0.3rem #c0304f;
  max-width: 24rem !important;
}

.pageMargin {
  margin-top: 6rem !important;
}

// nav section start

.itemCount {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $arrowBgColor;
  color: white;
  position: absolute;
  top: -50%;
  right: -70%;
}

.navbarContent {
  border-bottom: 2px solid transparent !important;
}

.navbarContent:hover {
  border-bottom: 2px solid;
  border-image: linear-gradient(
    to right,
    $arrowBgColor,
    $arrowBgColor 70%,
    white 70%,
    white 80%,
    $arrowBgColor 80%,
    $arrowBgColor
  );
  border-image-slice: 1;
}

.shrineLogo {
  top: 20px;
  left: 40vw;
}

// hero section

.sectionChanger {
  span {
    &:hover {
      color: $contentColor;
      cursor: pointer;
    }
  }
}

.heroStats {
  background-color: $coloredSection;
}

// growing faith

.growingFaithCard {
  background-color: $coloredSection;
}

// happy prayers

.prayersNumber {
  left: -3.3rem;
  top: -2rem;
}

.prayerCountContainer {
  right: -1rem;
  bottom: 0;
  background-color: $arrowBgColor;
  color: #ffff;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  h4{
    font-family: 'Roboto';
    font-size: 2rem;
  }
  border: 0.2rem solid #ffff;
}

// footer section start

.footer {
  background-image: url(http://127.0.0.1:3000/assets/footer/footer.png);
  background-size: cover;
  background-position: center;
  color: white;

  button {
    background-color: $arrowBgColor !important;
  }
}

.footerContent {
  li > a {
    color: $contentColor;
  }
  
}
